---
name: CI w/ structlog

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  FORCE_COLOR: "1" # Make tools pretty.
  SETUPTOOLS_SCM_PRETEND_VERSION: "1.0" # avoid warnings about shallow checkout

jobs:
  check-structlog:
    name: Build & verify the structlog package.
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          repository: hynek/structlog
          path: structlog

      - uses: actions/checkout@v4
        with:
          path: action

      - uses: ./action
        id: baipp
        with:
          path: structlog

      - run: echo Packages can be found at ${{ steps.baipp.outputs.dist }}
