---
name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

env:
  FORCE_COLOR: "1" # Make tools pretty.
  SETUPTOOLS_SCM_PRETEND_VERSION: "1.0" # avoid warnings about shallow checkout
  UV_SYSTEM_PYTHON: "true"  # ensure action can deal with this set

jobs:
  check-argon2-cffi-bindings:
    name: Build & verify the argon2-cffi-bindings package.
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: hynek/argon2-cffi-bindings
          submodules: recursive
          path: hynek/argon2-cffi-bindings

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: action

      - uses: ./action
        id: baipp
        with:
          path: hynek/argon2-cffi-bindings
          skip-wheel: 'true'

  check-structlog:
    name: Build & verify the structlog package.
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-24.04

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: hynek/structlog
          path: structlog

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: action

      - uses: ./action
        id: baipp
        with:
          path: structlog
          upload-name-suffix: "-structlog-${{ matrix.os }}"

      - run: >
          echo "Packages for ${{ steps.baipp.outputs.package_name }} (${{ steps.baipp.outputs.package_version }})
          can be found at ${{ steps.baipp.outputs.dist }}
          and in artifact ${{ steps.baipp.outputs.artifact-name }}"

  check-pytest:
    name: Build & verify the pytest package.
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: pytest-dev/pytest
          path: pytest

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: action

      - uses: ./action
        id: baipp
        with:
          path: pytest
          upload-name-suffix: "-pytest"

      - run: echo Packages can be found at ${{ steps.baipp.outputs.dist }} and in artifact ${{ steps.baipp.outputs.artifact-name }}

  required-checks-pass:
    name: Ensure everything required is passing for branch protection
    if: always()

    needs:
      - check-argon2-cffi-bindings
      - check-structlog
      - check-pytest

    runs-on: ubuntu-latest

    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
